.links{
    display: flex;
    gap: 24px;
    align-items: center;
    color: #FAFAFA
}

.links>a{
    text-decoration: none;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
}


.btn-abre-conta{
    border: 1px solid #101820;
    background: #FFC845;
    width: 170px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -2%;
    font-weight: 700;
    color: #101820;
    cursor: pointer;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 1;
    }
  }

  .menu-item-400{
    font-weight: 400;
  }

  .menu-item-500{
    font-weight: 500;
  }

  .menu-item-500-active{
    font-weight: 500 !important;
    color: #FFC845 !important;
  }

  .menu-mouse-over{
    font-weight: 600;
    text-decoration: underline;
    color: #FFC845;
  }
  
  .active{
    font-weight: 600;
    text-decoration: underline;
    
  }