/* RESET */
* {
  padding: 0;
  margin: 0;
}

/* FONTES */
@font-face {
  font-family: 'OpenSauceSans';
  src: url('/assets/fontes/OpenSauceSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceSans';
  src: url('/assets/fontes/OpenSauceSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceSans';
  src: url('/assets/fontes/OpenSauceSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/assets/fontes/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/assets/fontes/OpenSauceOne-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/assets/fontes/OpenSauceOne-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/assets/fontes/OpenSauceOne-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* TEXTO */
.title-desktop {
  font-family: 'OpenSauceSans', sans-serif;
  font-size: 48px;
  line-height: 64px;
  text-align: left;
}

.title-mobile {
  font-family: 'OpenSauceSans', sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: left;
}

.subtitle-desktop, 
.subtitle-mobile {
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

.text-desktop {
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-align: left;
}

.text-mobile {
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.text-light {
  color: #fafafa;
}

.text-yellow {
  color: #FFC845;
}

.text-white {
  color: #fafafa;
}

.text-w-700 {
  font-weight: 700;
}

.text-w-500 {
  font-weight: 500;
}

.text-extra-small {
  font-size: 14px;
  line-height: 20px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

/* BOTÕES */
.btn-yellow {
  min-width: 30px;
  max-width: 430px;
  height: 67px;
  border-radius: 100px;
  background: linear-gradient(90deg, #FFC845 50%, #101820 50%);
  background-size: 200% 100%;
  background-position: left;
  font-family: 'OpenSauceOne', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  transition: background-position 0.5s ease;
  color: #101820;
}

.btn-yellow:hover {
  background-position: right;
  color: #FFC845;
  border: 1px solid #FFC845;
}

.btn-contato {
  max-width: 100%;
}

/* OUTROS */
.container {
  max-width: 1600px;
  margin: 0 auto;
}
